.buttonSpace {
    position: relative;

    width: 100%;
    height: 100%;
}

#hideBtn {
    position: absolute;
    background-color: transparent;
    color: transparent;
    box-shadow: none;

    width: 35px;
    height: 35px;
    backdrop-filter: blur(5px);
}

#hideBtn:hover {
    box-shadow: 0 0 10px white;
}