* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  transition-duration: .3s;
}

@keyframes Show {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

button,
input {
  opacity: 0;
  animation: Show 1s forwards;
  animation-delay: .5s;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CDB4DB;
  color: black;

  min-height: 100vh;
}

div {
  margin: 20px;
}

button,
input {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ffffffb8;

  border-radius: 10px;
  padding: 10px 20px;
  min-width: 100%;
}

button:hover {
  background-color: #ffffff;
}

input {
  border: none;
  outline: none;

  padding: 10px 14px;
  border-radius: 10px;
  min-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}