.textDiv {
    background-color: #e4e4e4b0;
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    gap: 20px;
    border-radius: 20px;
    max-width: 90vw;
    padding: 50px 100px;
    transition-duration: .3s;

    box-shadow: 0px 5px 3px #8675A9;
    animation: Show .6s forwards;
    animation-timing-function: cubic-bezier(0, -0.55, 0.265, 1.55);
}

main .textDiv:hover {
    transform: scale(1.5);
}

@keyframes Show {
    from {
        transform: scale(1.2);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.continue {
    color: #00000088;
    font-weight: bold;
}